<!DOCTYPE html>
<html>
<head>
  <title>Ktbl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= link_to 'LOGO HERE', root_path %>
<% if user_signed_in?%>
	<h1> welcome<%= current_user.first_name%></h1>
	<%= link_to 'logout', destroy_user_session_path, method: :delete %>
  <%= link_to 'edit', edit_user_registration_path %>
    <%= link_to 'create list', new_list_path %>
  
<% else %>
  <%= link_to 'login', new_user_session_path %>
  <%= link_to 'sign up', new_user_registration_path%>
<% end %>
<hr/>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
